
/*ACA VAN TODOS LOS @*/

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,900&display=swap');


  *{
    margin:0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    }



/*----------------------------ESTILADOS DEL INDEX-------------------------------------*/
body{
    width: 100%;
    height: 100%;
}

/*estildos del header*/

/*estilos logo*/

header .contenedorLogo .logo{
    width: 70px;
    height: 10vh;
}
.miniTitulo{
    margin-top: 15px;
    text-align: center; 
}
/*estilos navegacion header*/
   
.listaNavegacion{
    text-align: right;
    display: inline-block;
   color: beige;
   padding:10px 30px;
    list-style: none;

    
}

.linkNav{
    display: flex;
    align-items:start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(192, 183, 235);
    font-size: 20px;
    margin:-1%  20px auto;
}


/*estilados del main*/

.colorHeaderPrincipal{
    width: 100%;
    height: 10%;
background-image: url(../assets/img/logo\ stamina.jpeg);
background-repeat:no-repeat;
background-size:cover; 
display:flex;  
overflow-block:visible ; 
position: fixed;
}



.fondoMain{
    height: 100%;
background-image: url(../assets/img/pexels-photo-2261484.jpeg);
background-repeat: no-repeat;
background-size:cover;
overflow: hidden;
}




 .h1Index{
    color: aliceblue;
  font-size: 50px;
    line-height: normal;
    margin: 20px 20px;
    margin-top: 60px;
    margin-bottom: 2px;
    display: flex;
    
 }

.parrafoMain{
    color: aliceblue;
    font-size: 25px;
    line-height: normal;
    text-align:justify;
    margin: 50px 25px;
    margin-top: 20px;
}

.h2Stamina{
    
    color: rgb(250, 251, 252);
    font-size:40px;
    line-height: normal;
    text-align:justify;
    margin: 10px 25px;
}

.staminaDefinicion{
    color: aliceblue;
    text-decoration: double;
    text-align:justify;
    margin: auto;
}

.imagenes3{
   display: flex;
   flex-wrap: nowrap;
  justify-content: space-around;
   
}

.imagen1{
    padding: 10px 20px;
}

.imagen2{
    padding: 10px 20px;
}


.imagen3{
    padding: 10px 20px;
}
/*estilados del footer*/ 
footer{
    bottom: 0;
        padding: 1em 0;
}

.footerIndex{
    background-image: url(../assets/img/STAMINA.jpeg);
    background-position: center;
    height: 15vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.divFooterIndex{
display: flex;
justify-content: space-around;
    
}

.divFooterIndex a {
    color: brown;
    font-size: 40px;
    text-decoration: none;
}



/*-------------ESTILADO PAGINA DE CONTACTO-------------------------------*/

/* .colorHeaderContacto{ 
    height: 10vh;
    background-image: url(../assets/img/logo\ stamina.jpeg);
    background-repeat:no-repeat;
    background-size:cover;   
    display: flex; 
}*/

/*estilo de fondo*/

.fondoContacto{
    height: 100vh;
    background-image: url(../assets/img/pexels-photo-2261484.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.formularioUbicacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.h1Contacto{
    text-align: center;
}
.mainContacto{
    color: aliceblue;
    font-size:large;
    line-height: normal;
    text-align:justify;
    margin: 200px 200px;
    margin-top: 40px;
}


.formularioConsulta{
  background-color: rgb(0, 4, 52);
    text-align: left;
    border: 3px solid black;
    width: 300px;
}

  /*estilos staff*/
.textoFoto{
    background: rgba(27,22,22,0.93);
background: linear-gradient(88deg,rgba(27,22,22,0.93) 0%, rgba(23,28,39,0.79) 80%);
background: -webkit-linear-gradient(88deg,rgba(27,22,22,0.93) 0%, rgba(23,28,39,0.79) 80%);
background: -moz-linear-gradient(88deg,rgba(27,22,22,0.93) 0%, rgba(23,28,39,0.79) 80%);
    margin: 50px 200px 50px 200px;
    display:flex;
    justify-content:center;
    align-items: center;


}

.h1staff{
    color: aliceblue;
    font-size: 50px;
    padding: 60px;
    text-align: center;
    
}
 .parrafo1Staff {
    color: aliceblue;
    margin-top: 20px;
    margin-left: 10px;
    text-align:justify;
    
 }


 .fotoCoach{
    padding: 10px 30px ;

    

 }
 .fondoStaff{
    height: 100vh;
    background-image: url(../assets/img/pexels-photo-2261484.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
 }




 /*estilos atletas*/


/* estilado de Contacto */
label{
    color: rgb(249, 32, 32);
}


 /*ESTILADO PLANIFICACION*/

 .imagenTexto{

    display: flex;
    justify-content: center;
    align-items: center;
   
    }


 .h1Planiicacion{
    color: aliceblue;
    font-size:50px;
    text-align:justify;
    margin: 50px 25px;
    margin-top: 60px; 
 }


 .parrafoPlanificacion{
    background: rgba(27,22,22,0.93);
background: linear-gradient(88deg,rgba(27,22,22,0.93) 0%, rgba(23,28,39,0.79) 80%);
background: -webkit-linear-gradient(88deg,rgba(27,22,22,0.93) 0%, rgba(23,28,39,0.79) 80%);
background: -moz-linear-gradient(88deg,rgba(27,22,22,0.93) 0%, rgba(23,28,39,0.79) 80%);
    color: aliceblue;
    font-size:large;
    line-height: normal;
    text-align:justify;
    margin: 50px 25px;
    margin-top: 20px;    
 }

 


 @media only screen and (min-width: 1024px) {
	.navbar-expand-lg .navbar-collapse {
		justify-content: flex-end;
	}
 }
/**version mobile**/
		
@media only screen and (max-width: 768px) {

    .colorNav{
       color: rgba(0, 0, 0, 0.586);
    }

    .colorHeaderPrincipal{
        
height: 11.5%;

    }
    .listaNavegacion{

        display: block;
        text-align: right;
    }
.navbar{
    flex-direction: row-reverse;
    justify-items: left;

    background-image: url(../assets/img/logo\ stamina.jpeg);
    
}

.navList{
    align-items: end;
    bottom: 0;
}


.h1Index{
  text-align: center;
}

.h2Stamina{
    text-align: center;
}


    .imagenes3 {
    display: block;
    margin: 0 auto;
    padding-left: 4%;
    width: 100%;
    }
   

/* queries pagina staff */
.h1staff{
    margin-top: 30px;
}

.textoFoto{
    flex-direction: column;
   margin: 20px 20px 20px 20px;
}
       
/* queries pagina contacto */
.formularioUbicacion{
    flex-direction: column;
}
   
/* queries pagina planificacion */
.imagenTexto{
    flex-direction: column;
}
}


