body{
    width: 100%;
    height: 100%;
  }

  

  .parrafoMain{
    color: $color-texto;
    font-size: 25px;
    line-height: normal;
    text-align:justify;
    margin: 50px 25px;
    margin-top: 20px;
  }



  .staminaDefinicion{
    color: $color-texto;
    text-decoration: double;
    text-align:justify;
    margin: auto;
  }


  .imagenes3{
    display: $contenedor-flex;
    flex-wrap: nowrap;
   justify-content: space-around;
    
   }
   
   .imagen1{
     padding: 10px 20px;
     /*transition: transform 0.3s ease-in-out; */
   }

   .imagen1_index {
    transition: transform 0.3s ease-in-out;
   }

   .imagen1_index:hover{
    transform: scale(1.1);
   }
   
   .imagen2_index{
    @extend .imagen1_index
   }

   .imagen3_index{
    @extend .imagen1_index
   }

  

   .imagen2{
     @extend .imagen1;
   }
   
   
   .imagen3{
    @extend .imagen1;
   }

/*clases de footer*/

.instagram{
  color:  #E4405F;
}


.facebook{
  color: blue;
}

.twitter{
  color: cadetblue;
}



   @media only screen and (max-width: 768px){

    .imagenes3 {
      display: $contenedor-flex;
      flex-direction: column;
     
       }
   }