@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;600&family=Roboto:ital,wght@0,400;1,900&display=swap");
/*maps*/
* {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.parrafoMain {
  color: aliceblue;
  font-size: 25px;
  line-height: normal;
  text-align: justify;
  margin: 50px 25px;
  margin-top: 20px;
}

.staminaDefinicion, .parrafoContacto {
  color: aliceblue;
  -webkit-text-decoration: double;
          text-decoration: double;
  text-align: justify;
  margin: auto;
}

.imagenes3 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.imagen1, .imagen3, .imagen2 {
  padding: 10px 20px;
  /*transition: transform 0.3s ease-in-out; */
}

.imagen1_index, .imagen3_index, .imagen2_index {
  transition: transform 0.3s ease-in-out;
}

.imagen1_index:hover, .imagen3_index:hover, .imagen2_index:hover {
  transform: scale(1.1);
  z-index: 0;
}

/*clases de footer*/
.instagram {
  color: #E4405F;
}

.facebook {
  color: blue;
}

.twitter {
  color: cadetblue;
}

@media only screen and (max-width: 768px) {
  .imagenes3 {
    display: flex;
    flex-direction: column;
  }
}
.colorHeaderPrincipal {
  width: 100%;
  height: 10%;
  background-image: url(../assets/img/logo\ stamina.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: fixed;
  z-index: 1;
}
.colorHeaderPrincipal .contenedorLogo .logo {
  width: 70px;
  height: 10vh;
}

.listaNavegacion {
  text-align: right;
  display: inline-block;
  color: beige;
  padding: 10px 30px;
  list-style: none;
}
.listaNavegacion .linkNav {
  display: flex;
  align-items: start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: rgb(192, 183, 235);
  font-size: 20px;
  margin: -1% 20px auto;
}

.miniTitulo {
  margin-top: 15px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .colorHeaderPrincipal {
    display: flex;
    align-items: self-start;
    justify-content: flex-end;
    text-align: justify;
    height: 11.5%;
    position: relative;
  }
  .colorHeaderPrincipal .listaNavegacion {
    overflow: hidden;
    align-items: center;
  }
  .colorHeaderPrincipal .listaNavegacion .colorNav {
    display: inline;
  }
  .navbar {
    width: 100%;
  }
  .navList {
    position: static;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 5px;
    padding-right: 3em;
  }
  .navList .linkNav {
    width: 100%;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    overflow: visible;
  }
}
.fondoMain {
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.522), rgb(0, 0, 0)), url(../assets/img/pexels-photo-2261484.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.fondoMain .tituloYParrafo {
  margin-bottom: 50px;
}
.fondoMain .tituloYParrafo .h1Index {
  color: aliceblue;
  font-size: 50px;
  line-height: normal;
  margin-top: 60px;
  margin-bottom: 2px;
  padding-top: 20px;
  display: flex;
  font-weight: 900;
  justify-content: center;
}
.fondoMain .h2Stamina {
  display: flex;
  color: rgb(250, 251, 252);
  font-size: 40px;
  line-height: normal;
  text-align: justify;
  justify-content: center;
}
.fondoMain .segundoParrafo .staminaDefinicion, .fondoMain .segundoParrafo .parrafoContacto {
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-align: justify;
}

/*main de atletas*/
.h1IndexAtletas {
  color: aliceblue;
  font-size: 50px;
  line-height: normal;
  margin-top: 60px;
  margin-bottom: 2px;
  padding-top: 20px;
  display: flex;
  font-weight: 900;
  justify-content: center;
}

/* main del contacto*/
.parrafoContacto {
  text-align: justify;
  font-size: 20px;
  margin: 20px 40px 5px 40px;
}

.formularioUbicacion {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.formularioUbicacion .formularioConsulta {
  background-color: rgb(0, 4, 52);
  text-align: center;
  flex-direction: column;
  margin-top: 30px;
  padding-top: 20px;
  border: 3px solid black;
  width: 300px;
}
.formularioUbicacion .formularioConsulta .campoNombre label, .formularioUbicacion .formularioConsulta .campoCorreo label, .formularioUbicacion .formularioConsulta .campoApellido label {
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 5px;
}
.formularioUbicacion .formularioConsulta .campoNombre input, .formularioUbicacion .formularioConsulta .campoCorreo input, .formularioUbicacion .formularioConsulta .campoApellido input {
  width: 40vh;
}
.formularioUbicacion .formularioConsulta .campoCorreo input {
  width: 40vh;
}
.formularioUbicacion .formularioConsulta .campoComentario {
  margin-top: 10px;
  margin-bottom: 5px;
}
.formularioUbicacion .formularioConsulta .enviar {
  background-color: rgba(78, 76, 175, 0.5843137255);
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
.formularioUbicacion .formularioConsulta .enviar:hover {
  background-color: #148a0c;
}
.formularioUbicacion .formularioConsulta .enviar:active {
  transform: scale(1.05);
}

label {
  color: rgb(249, 32, 32);
}

/*main del staff*/
.h1staff {
  color: aliceblue;
  font-size: 50px;
  padding: 80px;
  text-align: center;
  font-weight: 900;
}

.textoFoto {
  background: rgba(27, 22, 22, 0.93);
  background: linear-gradient(88deg, rgba(27, 22, 22, 0.93) 0%, rgba(23, 28, 39, 0.79) 80%);
  background: -moz-linear-gradient(88deg, rgba(27, 22, 22, 0.93) 0%, rgba(23, 28, 39, 0.79) 80%);
  margin: 50px 200px 50px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textoFoto .parrafo1Staff {
  color: aliceblue;
  margin-top: 20px;
  margin-left: 10px;
  text-align: justify;
}
.textoFoto .fotoCoach {
  padding: 10px 30px;
}

/*main de planificacion*/
.imagenTexto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenTexto .parrafoPlanificacion {
  background: rgba(27, 22, 22, 0.93);
  background: linear-gradient(88deg, rgba(27, 22, 22, 0.93) 0%, rgba(23, 28, 39, 0.79) 80%);
  background: -moz-linear-gradient(88deg, rgba(27, 22, 22, 0.93) 0%, rgba(23, 28, 39, 0.79) 80%);
  color: aliceblue;
  font-size: 20px;
  line-height: normal;
  text-align: justify;
  margin: 50px 25px;
  margin-top: 20px;
}

.cards {
  padding-top: 30px;
}
.cards .h1Cards {
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: 900;
}
.cards .cardsPadre {
  background-color: rgb(21, 20, 23);
  display: flex;
  height: 90vh;
  width: 100%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}
.cards .cardsPadre .cardsHijo {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(242, 242, 242);
  width: 30%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards .cardsPadre .cardsHijo .imgCards {
  width: 50%;
  height: 50%;
  margin-top: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards .cardsPadre .cardsHijo .h2Cards {
  text-align: center;
  color: aliceblue;
  z-index: 1;
}
.cards .cardsPadre .cardsHijo .parrafoCards {
  margin: 5px 5px 5px 5px;
  margin-bottom: 0%;
  text-align: justify;
  color: aliceblue;
}

/*main de planificacion*/
.galeria_imagenes, .galeria_imagenes4, .galeria_imagenes3, .galeria_imagenes2 {
  position: relative;
  cursor: pointer;
}

/*pseudo elemento before*/
.galeria_imagenes::before, .galeria_imagenes2::before, .galeria_imagenes3::before, .galeria_imagenes4::before {
  content: "El es Ezequiel el cual realiza nuestra Panificacion para atletas que desean competir, desarrollandose como se muestra en la imagen en medio de una competencia en la categoria ADVANCE. ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(20, 24, 43, 0.6509803922);
  transform: scaleY(0);
  transition: transform 0.4s;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: justify;
}

.galeria_imagenes2::before {
  content: "El es Gustavo, el cual además es coach y nos elige para crecer como atleta y mejorar asi sus hbilidades en su entrenamiento diario.";
}

.galeria_imagenes3::before {
  content: "El es Ari y realiza nuestra planificacion para Atletas, entrenando de forma individual en el box el del cual forma parte.";
}

.galeria_imagenes4::before {
  content: "Te presentamos a Franco, el realiza un entrenamiento peronalizado en base a su actividad el cual es corredor de cutriciclos y logro ganar el primer puesto en su categoria tras su largo compromiso con la programación.";
}

.galeria_imagenes:hover::before, .galeria_imagenes2:hover::before, .galeria_imagenes3:hover::before, .galeria_imagenes4:hover::before {
  transform: scaleY(1);
}

@media only screen and (max-width: 768px) {
  .fondoMain .tituloYParrafo .h1Index, .fondoMain .tituloYParrafo .h1IndexAtletas {
    margin-top: 1em;
    text-align: center;
  }
  .fondoMain .tituloYParrafo .segundoParrafo .h2Stamina {
    text-align: center;
  }
  .fondoMain .h1staff {
    margin-top: 30px;
  }
  .fondoMain .formularioUbicacion {
    flex-direction: column;
  }
  .fondoMain .imagenTexto {
    flex-direction: column;
  }
  .fondoMain .textoFoto {
    flex-direction: column;
    margin: 20px 20px 20px 20px;
  }
  .fondoMain .parrafoPlanificacion {
    margin-top: 30px;
  }
  .fondoMain .cards {
    margin-top: 30px;
    margin-bottom: 500px;
  }
  .fondoMain .cards .h1Cards {
    align-items: start;
    margin-bottom: 500px;
  }
  .fondoMain .cards .cardsPadre {
    display: flex;
    flex-direction: column;
  }
  .fondoMain .cards .cardsPadre .cardsHijo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
}
.footerIndex {
  bottom: 0;
  padding: 1em 0;
  margin-top: 20px;
  background-image: url(../assets/img/STAMINA.jpeg);
  background-position: center;
  height: 15vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.footerIndex .divFooterIndex {
  display: flex;
  justify-content: space-around;
}
.footerIndex .divFooterIndex a {
  color: brown;
  font-size: 40px;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
  animation: up-down 2s ease-in-out infinite;
}
.footerIndex .divFooterIndex i {
  transition: all 0.3s ease;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */